<div id="application-details">

  <!-- Data from URLs -->
  <!-- make link for URL that points to payload hash, link to aggregate event data (see last 2 bullets on app details) -->
  <table class="striped" id="url-ranking">
    <h2>Most Requested URL's</h2>
    <thead>
      <tr>
          <th data-field="url">URL</th>
          <th data-field="count">Count</th>
      </tr>
    </thead>
​
    <tbody>
      <% urls.each do |url, count| %>
      <tr>
        <td><%= url %></td>
        <td><%= count %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

<!-- Data from UserAgent -->
  <table class="striped" id="web-browser-breakdown">
    <h2>Web Browser Breakdown</h2>
    <thead>
      <tr>
          <th data-field="browser">Browser</th>
          <th data-field="count">Count</th>
      </tr>
    </thead>
  ​
    <tbody>
      <% browsers.each do |browser, count| %>
      <tr>
        <td><%= browser %></td>
        <td><%= count %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

<!-- Data from UserAgent -->
<table class="striped" id="os-breakdown">
  <h2>Operating System Breakdown</h2>
  <thead>
    <tr>
        <th data-field="browser">Operating System</th>
        <th data-field="count">Count</th>
    </tr>
  </thead>
​
  <tbody>
    <% op_systems.each do |os, count| %>
    <tr>
      <td><%= os %></td>
      <td><%= count %></td>
    </tr>
    <% end %>
  </tbody>
</table>


<!-- Data from resolutionWidth x resolutionHeight -->
  <table class="striped" id="screen-resolution">
    <h2>Screen Resolution</h2>
    <thead>
      <tr>
          <th data-field="resolution">Resolution</th>
          <th data-field="count">Count</th>
      </tr>
    </thead>
  ​
    <tbody>
      <% resolutions.each do |os, count| %>
      <tr>
        <td><%= os %></td>
        <td><%= count %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <!-- Data from respondedIn -->
    <table class="striped" id="response-time">
      <h2>URL by Response Time</h2>
      <thead>
        <tr>
            <th data-field="url">URL</th>
            <th data-field="time">Time</th>
        </tr>
      </thead>
    ​
      <tbody>
        <% response_times.each do |response_times, count| %>
        <tr>
          <td><%= response_times %></td>
          <td><%= count %></td>
        </tr>
        <% end %>
      </tbody>
    </table>

  <!-- Hyperlinks to url specific data -->
    <div id='url-specific-data'>
      <h3> URL Specific Data: </h3>
      <% urls.each do |url, _| %>
        <a href="/sources/<%= identifier %>/urls/<%= url.split('.com/').last %>">
          <%= url.split('//').last %>
        </a><br>
      <% end %>
    </div>
  <!-- Hyperlinks to aggregate event data -->
    <div id='aggregate-event-data'>
      <h3> Aggregate Event Data: </h3>
        <a href="/sources/<%= identifier %>/events">
          <%= identifier %>
        </a><br>
    </div>

    <br>
  </div>
